body {
  color: white;
  background-color: black;
  font-size: 110%;
}

nav {
  font-size: 130%;
}

nav a {
  padding: 5%;
}

p {
  max-width: 960px;
}

a:link {
  color: lightblue;
}

a:visited {
  color: mediumpurple;
}

blockquote {
  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: white;
  padding-left: 5px;
}

img {
  max-width: 100%;
  height: auto;
}